ul#gsm2-playlist li a {
    display: block;
    float: none;
    padding: 0.5em 0.25em 0.5em 0.75em;
    margin-right: 0px;
    font-size: 90%;
    vertical-align: middle;
}

.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
    background-color: #414042;
}

.sm2-bar-ui.fixed {
    z-index: 99;
}

.gsm2-playable-link.silent:after {
    content: '  \f026';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-left: 4px;
    text-decoration: none;
    display: inline-block;
}

.gsm2-playable-link.playing:after {
    content: '  \f028';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-left: 4px;
    text-decoration: none;
    display: inline-block;
}